@import "./variables";

.content {
    // Prevent scrollbar
    overflow: auto;
    background-color: $background;
    border-radius: 2px;
    border: 1px solid $grey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wideModal .content {
    width: 70%;
    min-height: 60%;
}

.innerContent {
    padding: 3em;
}

.bottomBar {
    border-top: 1px solid $grey-light;
}

.topBar {
    padding: 5px;
    border-bottom: 1px solid $grey-light;
}

.handle {
    height: 1.5em;
    background: $grey-lighter;
    border-bottom: 1px solid $grey;
}

.closeButton {
    float: right;
}
