// Old materialize stuff

$primary-color: #0F1626; //color("light-blue", "base");
$secondary-color: #AB987A; //color("orange", "base");

$roboto-font-path: "../node_modules/materialize-css/fonts/roboto/";

// New

// Import initial bulma vars
@import "../node_modules/bulma/sass/utilities/initial-variables";

// Override bulma vars here

// Let bulma create more derived vars
@import "../node_modules/bulma/sass/utilities/functions.sass";
@import "../node_modules/bulma/sass/utilities/derived-variables";
