@import "./variables";

.content {
    // Prevent scrollbar
    overflow: auto;
    background-color: $background;
    border-radius: 2px;
}

.wideModal .content {
    width: 70%;
    min-height: 60%;
}

.innerContent {
    padding: 3em;
}

.bottomBar {
    border-top: 1px solid $grey-light;
}

.topBar {
    padding: 5px;
    border-bottom: 1px solid $grey-light;
}

.handle {
    height: 1.25em;
    background: $grey-light;
    border-bottom: 1px solid $grey;
}
