/*
@import "./variables";


.select {
}

.selectButton label {
    transition: all 0.2s;
}

.activeLabel {
    width: 0px;
    color: $primary;
    transform: scale(0.7) translateX(-13px) translateY(-39px);
}

.flat:focus {
    border: none;
    box-shadow: none;
}

.flatBody {
    user-select: none;
    cursor: default;
}
*/
