<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test Runner Web UI</title>
    <script src="/js/common.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="grey lighten-3">
<header>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Declare</a>
            <ul id="nav-mobile" class="left">
                <li><a href="#/">Home</a></li>
            </ul>
        </div>
    </nav>
</header>
<main>
<div id="app">
</div>
</main>
<footer>

</footer>
<script type="text/javascript" src="/js/app.js"></script>
<script>
    $(document).ready(function() {
        setTimeout(function() {
        // Make dropdowns work
        $(".dropdown-button").dropdown({
            inDuration: 300,
            outDuration: 225,
            constrainWidth: true, // Does not change width of dropdown to that of the activator
            hover: false, // Activate on hover
            gutter: 0, // Spacing from edge
            belowOrigin: false, // Displays dropdown below the button
            alignment: "left", // Displays dropdown with edge aligned to the left of button
            stopPropagation: false // Stops event propagation
        });
        // Make text field labels work
        Materialize.updateTextFields();
        }, 1000)
    });
</script>
</body>
</html>
